.apelido,
.cargo {
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
.dtrue,
.devop{
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
.lica,
.estagiario {
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
.amaldi,
.estag_1 {
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
.alzheimer,
.deviario {
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
.gemeas,
.desenvolvedora {
    padding: 0,5rem;
    text-align: center;
    color: rgb(44, 35, 35);
}
